.imagecontainer {
	background-image: url(../img/Malevich.jpg);
	width: auto;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;

}

.herotext {
	margin: auto;
	color: white;	
	text-align: center;
	font-family: 'Yeseva One', cursive;
	font-size: 70px;
	font-weight: 700;

}

.highlight {
	margin: 50px auto;
	border: 4px solid grey;
	padding: 24px;
	display: flex;
	max-width: 700px;
}
.vrezka {
	font-family: 'Didact Gothic', sans-serif;
	font-size: 24px;
	margin: auto;
}
.flexcontainer {
	width: 1400px;
	display: flex;
	flex-wrap: wrap;
}

.flexitem {
	margin: auto;
	width: 300px;
}

.square {
	width: 300px;
	height: 300px;
}

.h2 {
	margin: 16px 0px;
	font-family: 'Yeseva One', cursive;
	font-size: 20px;
	color: black;
	font-weight: 700;
}

.h3 {
	font-family:'Didact Gothic', sans-serif;
	font-size: 18px;
	color: black;
}