h1 {
	background: black;
	color: white;
}
.copy {
	display: inline-block;
	position: absolute;
	color: white;
	bottom: 20px;
	left: 20px;

}

a { 
	display: inline-block;
	position: absolute;
	bottom: 20px;
	right: 20px;
	vertical-align: middle;
	color: white;
 }
.headertext {
	font-size: 24px;
	color: white;
	position: absolute;
	top: 15px;
	text-align: center;
	width: 100%;
}
.footerContainer {
	height: 50px;
	width: 100%;
	background-color: navy;
	position: fixed;
	bottom: 0px;
}

.menuCointainer {
	height: 50px;
	width: 100%;
	background-color: navy;
	position: fixed;
	top: 0px;
}
.paragraph {
	font-size:16px;
}
.collums { 
font-size: 0px;
margin: 0px auto; 
width: 1060px;}

.collum1 {
	display:inline-block;
	vertical-align: top;
	width: 500px;
	height: 400px;
	padding: 10px;
	border-width: 5px;
	border-color: red;
	border-style: solid;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 70px 10px 10px;
}

.collum2 {
	display:inline-block;
	vertical-align: top;
	width: 300px;
	height: 400px;
	padding: 10px;
	box-sizing: border-box;
	border-width: 5px;
	border-color: red;
	border-style: solid;
	border-radius: 4px;
	margin: 70px 10px 10px;
}

.collum3 {
	display:inline-block;
	vertical-align: top;
	width: 200px;
	height: 400px;
	padding: 10px;
	box-sizing: border-box;
	border-width: 5px;
	border-color: red;
	border-style: solid;
	border-radius: 4px;
	margin: 70px 10px 10px;
}



